.navbar {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #fff;

	ul{
		display: flex;
		list-style: none;
		width: 100%;
		justify-content: space-evenly;
		height: 100%;
		align-items: center;

		li{
			svg{
				width: 30px;
				height: 30px;
				color: #231231;
			}
		}
	}
}
